<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
</head>
<body>

<span th:fragment="name">
  <span th:if="${widget != null}" th:text="${widget.name}"/>
</span>

<span th:fragment="description">
  <span th:if="${widget != null}" th:text="${widget.description}"/>
</span>

<span th:fragment="widget-table">
  <table class="table table-striped table-condensed table-hover">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <tr th:each="widget : ${widgets}">
      <td>
        <span th:text="${widget.name}"/>
      </td>
      <td>
        <span th:text="${widget.description}"/>
      </td>
    </tr>
  </table>
</span>

</body>
</html>
