<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>home</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
</head>
<body>
  <div class="container-fluid" role="main">

    <div class="page-header">
      <h1>Fragment Performance</h1>
      <p>The following Thymeleaf samples illustrate common rendering techniques (th:each, th:replace, and th:include).</p>
    </div>

    <ul>
      <li><a href="baseline">Baseline</a></li>
      <li><a href="replace">Replace</a></li>
      <li><a href="replace-from-common">Replace (from a common file)</a></li>
      <li><a href="include">Include</a></li>
      <li><a href="include-from-common">Include (from a common file)</a></li>
      <li><a href="include-table">Include the whole table (from a common file)</a></li>
    </ul>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"/>
</body>
</html>
