<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>include-from-common</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container-fluid" role="main">

  <div class="page-header">
    <h1>Replace</h1>

    <p>This example uses th:replace from a fragment in the same document.</p>
  </div>

  <div class="panel panel-default">
    <table class="table table-striped table-condensed table-hover">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
      <tr th:each="widget : ${widgets}">
        <td th:include="common::name"/>
        <td th:include="common::description"/>
      </tr>
    </table>
  </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"/>
</body>
</html>
